/* CSS Document */





.subheads { 
	text-transform:capitalize;
	font-weight:bold;
}
a#printbt{
    margin-right: 20px;
   font-size: 26px;
    float: right;
	}
 a.printbt{
        margin-top: -26px;
    margin-right: 20px;
    font-size: 26px;
    float: right;
    color: green;
    padding: 2px;
	}

body{







background-image: url(../images/bg.png);







background-repeat:repeat-x;







}







#wrapper_logo{







width:100%;







height:auto;







float:left;







margin:0;







}







#logo{







width:612px;







height:122px;







background-image:url(../images/logo_bg.png);







background-repeat:no-repeat;







float:left;







margin:0;







padding-right:px;







}







#login{







width:auto;







height:auto;







float:right;







padding-left:5px;







}







#red_left{







width:6px;







height:122px;







float:left;







background-image:url(../images/red-left.png);







background-repeat:no-repeat;







}







#red_mid{



width:290px;



height:112px;



float:left;



padding:5px;



font-family: "Times New Roman", Times, serif ;



font-size: 10px;



color: #999999;



background-color: #ECE9D8;



border: 1px solid #D6CFAA;







}



.red_mid input {



border: 1px solid #D6CFAA;



}







#red_right{







width:6px;







height:122px;







float:left;







background-image:url(../images/red-right.png);







background-repeat:no-repeat;







}







#wrapper_menu{







width:100%;







height:auto;







float:left;







padding: 5px 0 0 0;







}







#black1{







width:100%;







height:28px;







float:left;







background-image:url(../images/black1.png);







background-repeat:no-repeat;







}







#black2{







	width:100%;	



	height:32px;



	



	float:left;



	background-color: #0166B1;



	



	padding-bottom: 6px;



	color: #fff;







}







#black3{







width:4px;







height:28px;







float:left;







background-image:url(../images/black3.png);







background-repeat:no-repeat;







}



a:link, a:visited{







color:white;







font-family:Verdana, Arial, Helvetica, sans-serif;







font-size:12px;







text-decoration:none;}







a:hover {







color:#fe0000;







font-family:Verdana, Arial, Helvetica, sans-serif;







font-size:12px;







text-decoration:none;}







#headers ul {



	display:block;



	margin:0px;



	padding: 10px 0 0 0;



	text-align:left;	



	width:auto;



	height:auto;



}







#headers li{



	color:white;



	font-family:Verdana, Arial, Helvetica, sans-serif;



	font-size:12px;



	list-style:none;



	padding:10px 15px 0 10px;



	display:inline;



}







#wrapper_grey{







width:100%;







height:auto;







float:left;







padding: 0px 0 0 0;







}







#grey1{







width:4px;







height:28px;







float:left;



}







#grey2{







width:100%;







height:28px;







float:left;







background:#ccc;



}







#grey3{







width:4px;







height:28px;







float:left;







background-image:url(../images/grey2.png);







background-repeat:no-repeat;







}







h1{







color:#fff;







font-family:Verdana, Arial, Helvetica, sans-serif;







font-size:13px;







font-weight:bold;







margin:0;







padding:0;







text-align:left;







padding:5px 0 0 10px;







}







h2{







color:#0166B1;







font-family:Verdana, Arial, Helvetica, sans-serif;







font-size:14px;







font-weight:bold;







margin:0;







padding:0;







text-align:left;







padding:px 0 0 px;







}







h3{







color:#ffffff;







font-family:Verdana, Arial, Helvetica, sans-serif;







font-size:12px;







font-weight:normal;







margin:0;







padding:0;







text-align:left;







padding:3px 0 0 5px;







}







#wrapper_content{







width:940px;







height:auto;







min-height:200px;







float:left;







padding: 0px 0 0 0;







}







#wrapper_content table { text-align:left;}







#white1{







width:940px;







height:17px;







float:left;







background-image:url(../images/white1.png);







background-repeat:no-repeat;







}







#white2{







width:940px;







height:auto;







float:left;







background-image:url(../images/white2.png);







background-repeat:repeat-y;







}







#white3{







width:940px;







height:22px;







float:left;







background-image:url(../images/white3.png);







background-repeat:no-repeat;







}







#image{







width:454px;







height:289px;







float:left;







background-image:url(../images/vacant.png);







background-repeat:no-repeat;







margin:0 0 0 5px;







}







#content{







width:476px;







height:auto;







float:left;







margin:0 0 0 5px;







}







p{







color:#6A6A6A;







font-family:Verdana,Arial,Helvetica,sans-serif;







font-size:11px;







font-weight:normal;







letter-spacing:0;







line-height:20px;







margin-right:5px;







text-align:justify;







word-spacing:0;







}







#wrapper_footer{







width:100%;







height:auto;







float:left;







padding: 0px 0 0 0;







}







#footer_left{







width:136px;







height:24px;







float:left;







background-image:url(../images/footer_left.png);







background-repeat:no-repeat;







}







#footer_mid{







width:830px;







height:22px;







float:left;







background:#0166B1;







background-repeat:repeat-x;







margin-top:2px;







}







#footer_right{







width:112px;







height:22px;







float:right;







margin-top:2px;







background-image:url(../images/footer_right.png);







background-repeat:no-repeat;







}







/* *********************************************************/







body, td{ 







	font-family: Verdana, Arial, Helvetica, sans-serif; 	







	font-size:12px;







	margin-top:0px;







	}







td {vertical-align:top; }







#registration input { 







	width:250px;	







	font-size:12px;







	}		







#registration .button { 







	width:auto; 







	}







.asterisk { 







	font-size:11px; 







	color:#FF0000;







	}	







	







.tr_headings { 







	font-weight:bold; 







	text-transform:capitalize;







	background-color:#ababab;







	}







	







.btn { width:50px;







		}	







a.btn {



	background-color:#79CC62;



	color:#fff !important;



	text-decoration:none;



	padding:5px 10px; 



	margin:5px;



	}	







a.btn:hover {



	text-decoration:none;



	}	







#editschool input, select { 







	width:250px;







	font-size:12px;







		}







		







#editschool .btn {width:80px; }







#links li {







	font-family: Verdana, Arial, Helvetica, sans-serif;	







	







	font-size:12px;







	/*color:white;







	font-weight:bold;*/







	display:inline;







	}







	







#footer li,#footer a {







	font-family: Verdana, Arial, Helvetica, sans-serif;







	padding-left: 10px;







	/*font:Verdana, Arial, Helvetica, sans-serif;*/







	font-size:13px;







	color:white;







	font-weight:bold;







	display:inline;







	}







#copy { float:left;







		font-weight:bold;







		font-size:13px;







		color:#FFFFFF;







		margin:5px;







		







		}







/*#wrapperlogo{







	 







	height:auto;







	padding:0px 0 0 0px;







	float:left;







	background-image:url(../images/bg1.jpg);







	background-repeat:no-repeat;







	width:954px;







	height:106px;







	}  */







#wrappermenu{







	width:auto; 







	height:auto;







	padding:0px 0 0 0px;







	float:left;







	}  







#links{







	background-image:url(../images/link-bg.jpg);







	background-repeat:repeat-x;







	width:954px;







	







	height:30px;







	margin: -18px 0 0 0;







	text-align:left;







	







	}







#links a {







	color:#ffffff;







	display:inline;







	font-family: Verdana, Arial, Helvetica, sans-serif;







	font-size:12px;







	font-weight:bold;







	padding-left:10px;







	}







 







 #welcome { margin-left:5px;







 			font-weight:bold;







 			}







 







 #welcome span { color:#000000;







 			font-weight:bold;







			}







 







#kweblogo{







	width:280px; 







	height:52px;







	padding:10px 0 0 px;







	float:left;







	}  







#content-area{







	width:946px;







	min-height:300px;







	float:left;







	border:1px solid #CCCCCC;







	text-align:left;







	margin-top:0px;







	







	padding:1px 3px 1px 3px ;







	







	}







#maincontent







	{ 







	margin-top:0px; 	







	







	min-height:300px;







	width:100%;







	}







#headers a {







	color:#ffffff;







	







	font-family:Verdana,Arial,Helvetica,sans-serif;







	font-size:13px;







	font-weight:bold;







	padding-left:10px;







	}







#mymenu {







	height:20px;







	border:1px solid #666666;







	padding-top:5px;







	padding-left:6px;







	background-color:#E3A443;







	}







#pagetitle {			







	background-color:#FCE32F; width:100%;







	height:20px;	







	}







#pagetitle #title { 







		margin-top:3px;







		margin-left:10px;







		font-weight:bold;







		font-size:14px;







		}







#footer{







	width:954px;







	height:30px;







	/*background:#000000;







	background-repeat:repeat-y;*/







	background:url(../images/footer.jpg) repeat-x;







	text-align:center;







	}







h4{







	color:#FF0000;







	font-family: Verdana, Arial, Helvetica, sans-serif;







	font-size:12px;







	font-weight:normal;







	margin:0px;







	}







input.button{







	border: #038E2B;







	cursor: pointer;







	font-size: 11px;







	font-weight: normal;







	height: 17px;







	margin-top: 4px;







	width: 100px;







	border: 1px solid #690;







	color: #960;







	font-size: 11px;







	padding-left: 3px;







	}







input.button-b {







	background-color: #690;







	background-repeat: no-repeat;







	border: #038E2B;







	color: white;







	cursor: pointer;







	font-size: 12px;







	font-weight: normal;







	height: 20px;







	margin-left: 2px;







	margin-top: 2px;







	width: 56px;







	}







a:link, a:visited 







	{







	color: #2523B2;







	font-family: Verdana, Arial, Helvetica, sans-serif;







	font-size:12px;







	font-weight:normal;







	text-decoration:none;







	}







a:hover { 







	text-decoration:underline; 







	







	}







#subcategories{ padding-left:20px;}







#toolbar1_duties select{ width:120px;}







#editschool #chkSrcduties { width:20px;}